* {
    margin: 0;
    padding: 0;
}

/* webacam guest view */

body {
    background-color: black;
}

#guestview {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* command bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    height: 80px;
    width: 100vp;
}

nav>section>svg {
    fill: white;
    height: 30px;
}

#greenshare {
    fill: rgb(44, 187, 44);
}

#buttonend {
    display: flex;
    color: red;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    height: 80px;
    background-color: #4A4A4A;
}